# Built application files
*.apk
*.ap_
*.aab

# IDE-specific files and directories
.idea/
*.iml
.DS_Store

# Gradle build system
.gradle/
/build/
/out/

# Local configuration files
/local.properties

# C/C++ build output
.externalNativeBuild/
.cxx/

# Generated and temporary files
/captures/

# Miscellaneous